.button-color{
    background-color: #4F6DE2;
}

.custom-border{
    border: .01rem solid #4F6DE2;
    border-radius: 1rem;
    box-shadow: 0px 15px 30px rgba(76, 84, 200, 0.1);
}

.img-card-testimonials{
    height: 3.5rem;
    width: auto;
}

.img-sponsors{
    filter: grayscale();
    height: 3rem;
    width: auto;
}

.custom-bg{
    background-color: #4F6DE2;
}

.text-custom{
    color: #4F6DE2;
}

.title-home{
    font-weight: 700;
}

.padding-button{
    padding: .7rem 0;
}

.subtitle-home{
    font-weight: 600;
    
}

.title-home-section{
    font-weight: 600;
    font-size: large;
}

.p-home-section{
    font-weight: 400;
}

.img-5{
    width: 70%;
    height: auto;
}